.container{
    margin-top: 100px;
}

small{
    font-size: 15px;
    font-weight: 600;
}

.reset{
    font-size: 18px;
    font-weight: 600;
}

.confirm-code{
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgba(95, 110, 243, 0.486);
}

.reset-password{
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgba(95, 110, 243, 0.486);
}

.confirm-code input{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.329);
}



.reset-password input{
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 7px;
    color: rgba(0, 0, 0, 0.329);
}

.confirm-code .submit{
    margin-top: 20px;
    padding-top: 5px ;
    padding-bottom: 15px;
    height: 40px;
    width: 120px;
    color: white;
    background-color: rgb(106, 106, 255);
    border-radius: 5px;
}

.reset-password .update{
    margin-top: 15px;
    padding-top: 2px ;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    width: 120px;
    color: white;
    background-color: rgb(106, 106, 255);
    border-radius: 5px;
}

@media screen and (max-width:400px) {
    .reset-password input{
        padding-top: 10px;
        margin-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        margin-left: -3px;
        /* padding-right: 10px;
        padding-left: 10px; */
        border-radius: 7px;
        width: 250px;
        color: rgba(0, 0, 0, 0.329);
    }

    .confirm-code input{
        padding-top: 10px;
        padding-bottom: 10px;
        /* padding-right: 10px;
        padding-left: 10px; */
        border-radius: 5px;
        width: 240px;
        color: rgba(0, 0, 0, 0.329);
    }

    .reset-password{
        margin-left: -10px;
        margin-right: -10px;
    }
    .confirm-code{
        margin-left: -10px;
        margin-right: -10px;
    }
}