.dropdown-menu{
    width: 200px;
    position: absolute;
    display: block;
    top: 80px;
    list-style: none;
    text-align: start;
}

.dropdown-menu li{
    background: rgb(126, 126, 233);
    cursor: pointer;
}

.dropdown-menu li:hover{
    background:  rgb(0, 0, 0);
    border-left: 4px solid yellow;
}

/* .dropdown-menu.clicked{
    display: none;
} */

.dropdown-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 16px;
}

.dropdown-link:hover {
    color: rgb(247, 231, 10);
    
}

@media screen and (max-width:960){
    .dropdown-link {
        display: flexbox;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: white;
        padding: 16px;
    }
}



