
.posts .table{
    width: 96vw;
    border: 1px solid black;
    margin-top: 100px;
}

.posts .table th{
    border: 1px solid black;
}



@media screen and (min-width:275px) {
    .posts .table th{
        font-size: 8px;
    }

    .posts .table td{
        font-size: 0.3rem;
    }



    .posts{
        margin-top: 15px;
        margin-left: 5px;
        text-align: center;
    }
}



@media screen and (min-width:750px) {
    .posts .table th{
        font-size: 1rem;
    }

    .posts .table td{
        font-size: 1rem;
    }



    .posts{
        margin-top: 20px;
        margin-left: 10px;
        text-align: center;
    }
}


@media screen and (min-width:810px) {
    .posts .table th{
        font-size: 1rem;
    }

    .posts .table td{
        font-size: 1rem;
    }



    .posts{
        margin-top: 30px;
        margin-left: 10px;
        text-align: center;
    }
}


@media screen and (min-width:1020px) {
    .posts .table th{
        font-size: 1rem;
    }

    .posts .table td{
        font-size: 1rem;
    }



    .posts{
        margin-top: 50px;
        margin-left: 20px;
        text-align: center;
    }
}

