.typping{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}


.announcement{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    /* margin-bottom: 50px; */
}

@media screen and (min-width:190px) and (max-width:1299px) {
    .arrow{
        display:  none;
    }
    .typping{
        padding-top: 90px;
        font-size: 0.2rem;
        color: white;
    }
}

@media screen and (min-width:1300px) {
    .arrow{
        color: white;
        margin-top: 20px;
        font-size: 3rem;
    }

y
    .typping{
        padding-top: 500px;
        height: 98vh;
        width: 100vw;
        font-size: 20px;
        margin-left: -15%;
        color: white;
        font-family: cursive;
        /* margin-right: 10%; */
    }
}
